body{
    background:rgba(150,150,150,0.3);
}

.div-1{
    text-align: center;
    font-size:23px;
    color:rgba(250,10,10,0.7);
    font-family: Arial, Helvetica, sans-serif;
}

.div-2{
    color:rgba(10,10,250,0.7);
    font-family: cursive;
    text-decoration: none;
}