.a-encabezado{
    width: 50px;
    height:50px;
    padding: 50px;
    margin:50px;
    background-color: rgba(200,200,200,0.7);
    background: rgba(0,0,150,0.7);
    color: rgba(250,0,0,1);
}